In [109]:
import pandas as pd
import numpy as np
import graphviz

from sklearn import tree
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from pandas import Series, DataFrame

In [110]:
InputData = pd.read_excel("./Preliminary Data Analysis.xlsx"
                      ,"Input Data")

OutputData = pd.read_excel("./Preliminary Data Analysis.xlsx"
                      ,"Output Data")

In [111]:
InputData['CompanySize'].unique()

array(['中型企业', '大型企业', '小型企业'], dtype=object)

In [112]:
InputData['RDCapability'].unique()

array(['Low', 'High'], dtype=object)

In [113]:
InputData['ReputationNegative'].unique()

array(['N', 'Y'], dtype=object)

In [114]:
InputData['Sustainability'].unique()

array(['Y', 'N'], dtype=object)

In [115]:
Sustainability = {'N':'0','Y':'1'}
#利用匿名函数进行依次更改
InputData['Sustainability']=InputData['Sustainability'].apply(lambda x:Sustainability[x])

In [116]:
RDCapability = {'Low':'0','High':'1'}
#利用匿名函数进行依次更改
InputData['RDCapability']=InputData['RDCapability'].apply(lambda x:RDCapability[x])

In [117]:
dist_dict = {'中型企业':'1','大型企业':'2','小型企业':'0'}
#利用匿名函数进行依次更改
InputData['CompanySize']=InputData['CompanySize'].apply(lambda x:dist_dict[x])

In [118]:
ReputationNegative = {'N':'0','Y':'1'}
#利用匿名函数进行依次更改
InputData['ReputationNegative']=InputData['ReputationNegative'].apply(lambda x:ReputationNegative[x])

In [119]:
InputData.head(2)

,CompanySize,ReputationNegative,ReputationPositive,RDCapability,DevelopmentStrategyDirection,Sustainability
0,1,0,5.405941,0,0.153116,1
1,2,0,48.500223,0,1.658255,1

In [120]:
OutputData.head(2)

  InvestmentDecision
0                   Y
1                   N

In [121]:
OutputData.columns

Index(['InvestmentDecision '], dtype='object')

In [122]:
InvestmentDecision = {'Y':'1','N':'0'}
#利用匿名函数进行依次更改
OutputData['InvestmentDecision ']=OutputData['InvestmentDecision '].apply(lambda x:InvestmentDecision[x])

In [123]:
OutputData

   InvestmentDecision
0                    1
1                    0
2                    0
3                    0
4                    1
..                 ...
64                   0
65                   1
66                   0
67                   1
68                   1

[69 rows x 1 columns]

In [124]:
OutputData['InvestmentDecision '].unique()

array(['1', '0'], dtype=object)

In [125]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(InputData, OutputData, test_size = 0.3)
clf = tree.DecisionTreeClassifier(criterion = "gini"
                          ,random_state = 30
                          ,splitter = "random"
                          )

In [126]:
OutputData

   InvestmentDecision
0                    1
1                    0
2                    0
3                    0
4                    1
..                 ...
64                   0
65                   1
66                   0
67                   1
68                   1

[69 rows x 1 columns]

In [127]:
clf = clf.fit(Xtrain, Ytrain)
result = clf.score(Xtest, Ytest)

In [128]:
print (result)

attribute_name = ["Company Size", "Reputation Negative", "Reputation Positive", "RD Capability", "Development Strategy Direction", "Sustainability"]
dot_data = tree.export_graphviz(clf
                           ,feature_names = attribute_name
                           ,class_names = ["Recommend", "Depends"]
                           ,filled = True
                           ,rounded = True
                           )
graph = graphviz.source(dot_data)
print (graph)

0.6190476190476191

AttributeError: module 'graphviz' has no attribute 'source'

In [129]:
import pydotplus

ModuleNotFoundError: No module named 'pydotplus'